@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Данный сайт содержит в себе <a asp-area="" asp-controller="Questions">задачи для программирования.</a></p>
</div>
